<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta name="description" content="Docreport — сервис проверки человека по открытым источникам данных с получением отчета. Контакты для связи."/>
    <meta name="keywords" content="проверить человека, проверить контрагента, проверить задолженность, фссп проверка, судебные задолженность, приставы задолженность проверить, проверка по фссп"/>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='/css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 <div class="RowInputContainer_left">
      <a class="blueTheme" href="/">На главную</a>
 </div>
<div class="requestContainer">
    <div class="form" id="mainContainer">

<p style="text-align: center; "><span style="font-size: 18px;"><b>Контакты</b></span></p><p><span style="font-size: 16px;"><b>Техническая поддержка</b></span></p><p>&nbsp; &nbsp; &nbsp; <a href="mailto:support24@docreport.ru" target="_blank"><b><u>E-mail:&nbsp;support24@docreport.ru</u></b></a></p><p>&nbsp; &nbsp; &nbsp; Номер телефона:&nbsp;+79246905022<br></p><p>&nbsp; &nbsp; &nbsp; с 9:00 до 21:00 ежедневно&nbsp;</p><p><span style="font-size: 16px;"><b>Отдел продаж</b></span></p><p>&nbsp; &nbsp; <a href="mailto:info@docreport.ru" target="_blank"><b><u>&nbsp; E-mail: info@docreport.ru</u></b></a></p><p>&nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size: 16px;"><b><br></b></span></p>

    </div>

	<br>

  <div class="RowInputContainer">
      <a href="/oferta">Публичная оферта</a>
      <a href="/personal-data">Политика в отношении обработки персональных данных</a>
      <a href="/contacts">Контакты</a>
  </div>

</div>

</body>
</html>