<!DOCTYPE html>
<head>
<title>Docreport.ru - политика  в отношении обработки персональных данных/</title>
<meta name="keywords" content="проверить человека, проверить контрагента, проверить задолженность, фссп проверка, судебные задолженность, приставы задолженность проверить, проверка по фссп"/>
<meta name="description" content="Docreport — сервис проверки человека по открытым источникам данных с получением отчета. Правила и порядок обработки персональных данных."/>
<meta name="owner" content="info@docreport.ru"/>
<meta name="author" lang="ru" content='АБ "Магаданское бюро адвокатов"'/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="resource-type" content="Document"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="ru"/>
    <link rel="stylesheet"  href="{{ url_for('static', filename='/css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<style>
	body {
	  word-wrap: break-word;
	  overflow-wrap: break-word;
	}
  </style>
  
<body>
 <div class="RowInputContainer_left">
      <a class="blueTheme" href="/">На главную</a>
 </div>

<div class="requestContainer">
<p style="text-align: center;"><strong>ПОЛИТИКА</strong></p>
<p style="text-align: center;"><strong>в отношении обработки персональных данных на сайте DOCREPORT.RU</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>1. Общие положения</strong></p>
<p>1.1 Настоящая Политика разработана в соответствии с нормативными правовыми актами, действующими на территории РФ.</p>
<p>1.2 Настоящая Политика определяет принципы обработки персональных данных АБ &laquo;Магаданское бюро адвокатов&raquo; (далее &ndash; Бюро), зарегистрированным по адресу: г.&nbsp;Магадан, ул.&nbsp;Билибина, д.6.</p>
<p>1.3 Целью настоящей Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
<p>1.4 Настоящая политика действует в отношении всей информации, обрабатываемой на сайте, доступном в сети &laquo;Интернет&raquo; по адресу:&nbsp;<a href="http://docreport.ru/"><strong>http://DOCREPORT.RU</strong></a>&nbsp;(далее &ndash; Сайт).&nbsp;</p>
<p>1.5 Бюро не контролирует и не несет ответственность за обработку персональных данных и иной информации сайтами, принадлежащими третьим лицам, на которые Пользователь может перейти по ссылкам, доступным на Сайте.</p>
<p>1.6 Бюро не проверяет достоверность персональных данных, предоставляемых Пользователями при использовании Сайта.</p>
<p>1.7 Использование Сайта, заполнение веб-форм, содержащих персональные данные, означает согласие с условиями настоящей Политики. В случае несогласия с этими условиями Пользователь должен воздержаться от использования функционала Сайта.</p>
<p>1.8 Пользователь гарантирует, что делает запрос на получение сведений в отношении себя. Пользователь несет самостоятельную ответственность перед третьими лицами в случае, если запрос в отношении таких лиц и предоставление информации об этих лицах по результатам запроса были сделаны без получения на это предварительного согласия, в том числе на обработку персональных данных, от таких лиц.&nbsp;</p>
<p>1.9 В случае если Пользователь осуществляет запрос на получение сведений в отношении другого лица либо иным образом предоставляет Бюро персональные данные третьего лица, он должен иметь письменное или иным образом зафиксированное согласие данного лица на обработку его персональных данных, осуществление в отношении него запроса, предоставление о нем информации по результатам запроса.</p>
<p><strong>2. Термины и определения</strong></p>
<p>2.1&nbsp;<strong>Пользователь</strong>&nbsp;&ndash; любое физическое лицо, просматривающее страницы Сайта на своем компьютере и/или мобильном устройстве, в т.ч. потребитель услуг, предоставляемых Бюро через Сайт.</p>
<p>2.2&nbsp;<strong>Cookie-файлы</strong>&nbsp;&ndash; небольшие по объему файлы данных, генерируемые Сайтом и сохраняемые на пользовательское устройство.</p>
<p>2.3<strong>&nbsp;IP-адрес</strong>&nbsp;&ndash; уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
<p>2.4 Иные термины и определения приведены в том значении, в каком они определены в Федеральном законе от 27.07.2006 г. № 152-ФЗ &laquo;О персональных данных&raquo;.</p>
<p><strong>3. Цели и правовые основания обработки персональных данных</strong></p>
<p>3.1 Обработка персональных данных субъектов осуществляется Бюро для достижения конкретных, заранее определенных и законных целей.</p>
<p>3.2 Бюро обрабатывает персональных данные Пользователей и контрагентов Бюро в следующих целях:</p>
<ul>
<li>предоставление юридических и информационно-правовых услуг Пользователям и контрагентам Бюро посредством Сайта;&nbsp;</li>
<li>заключение и исполнение гражданско-правовых договоров и соглашений между Бюро и Пользователем или контрагентом;</li>
<li>установление с Пользователем обратной связи, включая обработку запросов и заявок от Пользователя, направление ответов на запросы и уведомлений, касающихся использования Сайта и оказания услуг;</li>
<li>продвижение услуг Бюро путём осуществления прямых контактов с физическими и юридическими лицами;</li>
<li>предоставление Пользователю эффективной пользовательской и технической поддержки при возникновении проблем, связанных с использованием Сайта.</li>
</ul>
<p>3.3 Бюро обрабатывает персональных данные физических лиц, чьи данные предоставлены Бюро контрагентами в рамках договорных отношений или получены из открытых источников, включая данные, подлежащие опубликованию или обязательному раскрытию в соответствии с федеральным законом (субъекты запросов), с целью предоставления юридических и информационно-правовых услуг Пользователям и контрагентам Бюро.</p>
<p>3.4 Правовыми основаниями обработки персональных данных являются: согласие на обработку персональных данных, полученное лично от Пользователя; договоры и иные соглашения, заключенные между Бюро и Пользователями или контрагентами, Устав Бюро, Федеральный закон от 27.07.2006 г. №&nbsp;152-ФЗ &laquo;О персональных данных&raquo;, а также иные нормативные правовые акты, действующие на территории РФ.</p>
<p><strong>4. Объем и категории персональных данных</strong></p>
<p>4.1 Бюро обрабатываются персональные данные в следующих категориях и объеме:</p>
<p>- для предоставления юридических и информационно-правовых услуг Пользователям и контрагентам Бюро посредством Сайта: фамилия, имя, отчество; дата рождения; паспортные данные (серия, номер, дата выдачи); адрес электронной почты; ИНН физического лица; сведения о недействительности паспорта; должность; сведения о наличии исполнительных производств; информация о налоговых начислениях; сведения о банкротстве физического лица; сведения об участии в судебных делах; сведения о регистрации в качестве индивидуального предпринимателя; сведения о регистрации в качестве руководителя или учредителя юридического лица; сведения о нахождении в розыске; сведения о нахождении в реестрах лиц, в отношении которых имеются сведения о причастности к экстремистской деятельности или терроризму, сведения о внесении в реестр уведомлений о залоге движимого имущества;</p>
<p>- для заключения и исполнения гражданско-правовых договоров и соглашений между Бюро и Пользователем или контрагентом: фамилия, имя, отчество; дата рождения; место рождения; данные документа, удостоверяющие личность; адрес места регистрации; адрес места жительства; ИНН, адрес электронной почты; номер телефона; номер расчетного счета, иные персональные данные, необходимые для заключения или исполнения договора и предоставленные Пользователем или контрагентом по своей инициативе;</p>
<p>- для установления с Пользователем обратной связи, включая обработку запросов и заявок от Пользователя, направление ответов на запросы и уведомлений, касающихся использования Сайта и оказания услуг: имя; адрес электронной почты; номер телефона; наименование организации, которую представляет пользователь; местонахождение (город); иные данные, предоставленные пользователем по своей инициативе;</p>
<p>- для продвижения услуг Бюро путём осуществления прямых контактов с физическими и юридическими лицами, предоставления Пользователю эффективной поддержки при возникновении проблем, связанных с использованием Сайта, данные обрабатываются в обезличенном виде, а именно: адрес электронной почты, номер телефона;</p>
<p>4.2. Бюро осуществляет обработку и обеспечивает защиту таких данных Пользователей, как IP-адрес, информации из cookie-файлов, информации о браузере и операционной системе; времени доступа, адресе запрашиваемой страницы и реферере (адресе предыдущей страницы). Указанные данные передаются устройством Пользователя на Сайт в автоматическом режиме и используются Бюро в обезличенном виде и исключительно в целях улучшения внешнего вида и функциональности Сайта, таргетирования рекламных материалов, статистических и исследовательских целях, а также для выявления и решения технических проблем.&nbsp;&nbsp;</p>
<p><strong>5. Порядок и условия обработки персональных данных</strong></p>
<p>5.1 Обработка персональных данных осуществляется Бюро только после получения согласия субъекта персональных данных на обработку либо, в ряде случаев, на основании законодательства РФ.</p>
<p>5.2 Бюро осуществляет как автоматизированную обработку персональных данных субъектов, так и без использования средств автоматизации, а именно обеспечивает выполнение следующих действий (операций) с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, передача (предоставление, доступ), удаление, уничтожение.</p>
<p>5.3 Условием прекращения обработки персональных данных является достижение целей обработки персональных данных, отзыв согласия на обработку персональных данных, выявление неправомерной обработки персональных данных.</p>
<p>5.4 Согласие на обработку персональных данных может быть отозвано субъектом персональных данных путем направления письменного запроса по форме, установленной в соответствии с законодательством РФ.</p>
<p>5.5 Бюро не осуществляет трансграничную передачу персональных данных.</p>
<p>5.6 Бюро предпринимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>
<p>5.7 При утрате или разглашении персональных данных Бюро информирует субъекта об утрате или разглашении персональных данных.</p>
<p>5.8 Бюро совместно с субъектом персональных данных принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных.</p>
<p><strong>6. Особенности обработки файлов Cookie и счетчиков</strong></p>
<p>6.1 Данные, которые автоматически передаются Бюро в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сайту, адреса запрашиваемых страниц и иная подобная информация, не используется Бюро в целях идентификации Пользователя.</p>
<p>6.2 Обработка указанных данных осуществляется с предварительного с согласия Пользователя.</p>
<p>6.3 Пользователь может настроить используемый им браузер таким образом, чтобы отклонять все файлы cookie или оповещать об их отправке, а также удалить ранее полученные файлы cookie. При отказе от получения файлов cookie некоторые функции Сайта могут работать некорректно.</p>
<p>6.4 Пользователь в любое время может удалить или заблокировать используемые cookie-файлы посредством соответствующей настройки веб-браузера.</p>
<p>6.5 Для получения подробной информации об управлении cookie-файлами, необходимо ознакомиться с разделом &laquo;Справка&raquo; используемого браузера или посетить ресурс&nbsp;<a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>.</p>
<p><strong>7. Права и обязанности субъектов персональных данных</strong></p>
<p>7.1 Субъекты персональных данных имеют право (при личном обращении или при направлении письменного запроса) на получение информации, касающейся обработки их персональных данных, в том числе содержащей:</p>
<ul>
<li>подтверждение факта обработки персональных данных;</li>
<li>правовые основания и цели обработки персональных данных;</li>
<li>цели и применяемые оператором способы обработки персональных данных;</li>
<li>наименование и место нахождения оператора, сведения о лицах (за исключением работников оператора), которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с оператором или на основании федерального закона;</li>
<li>перечень обрабатываемых персональных данных субъекта и источники получения таких данных;</li>
<li>порядок осуществления субъектом персональных данных прав, предусмотренных законодательством РФ о защите персональных данных;</li>
<li>информацию об осуществленной или о предполагаемой трансграничной передаче данных;</li>
<li>наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению оператора, если обработка поручена или будет поручена такому лицу.</li>
</ul>
<p>7.2 Субъекты персональных данных вправе требовать уточнения своих данных, их блокирования или уничтожения в случае, если, по мнению субъектов, данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки.</p>
<p>7.3 Также субъекты персональных данных могут отозвать данное ими согласие на обработку персональных данных, включая согласие на получение информации информационного и/или рекламного характера.</p>
<p>7.4 Субъекты персональных данных обязаны:</p>
<ul>
<li>предоставлять достоверную и актуальную информацию о себе, в том числе актуальные контактные данные, принадлежащие субъекту персональных данных;</li>
<li>своевременно сообщать о необходимости внесения изменений (обновлений, уточнений) в персональные данные;</li>
<li>знакомиться с актуальной версией настоящей Политики, опубликованной на Сайте по адресу:&nbsp;<a href="http://docreport.ru/"><strong>http://DOCREPORT.RU</strong></a>.</li>
</ul>
<p><strong>8. Актуализация, исправление, удаление и уничтожение персональных данных, ответы на запросы субъектов на доступ к персональным данным</strong></p>
<p>8.1 Субъекты персональных данных могут обратиться в Бюро для реализации их прав на обновление (уточнение, изменение), удаление или уничтожение персональных данных, обрабатываемых в Бюро. В случае подтверждения факта неточности персональных данных или неправомерности их обработки, Бюро предпримет все необходимые действия по их актуализации или прекратит неправомерную обработку.</p>
<p>8.2 При достижении целей обработки персональных данных, а также в случае отзыва субъектом персональных данных согласия на их обработку, персональные данные подлежат уничтожению в срок, не превышающий 30 (тридцати) дней, если иное не предусмотрено договором с субъектом или требованиями законодательства РФ.</p>
<p>8.3 Бюро обязано сообщить субъекту персональных данных или его представителю информацию об осуществляемой им обработке персональных данных такого субъекта в соответствии с правами субъекта, указанными в настоящей Политики при личном обращении или по письменному запросу.&nbsp;</p>
<p>8.4 Запрос субъекта персональных данных или его представителя должен содержать номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие участие субъекта персональных данных в отношениях с оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных оператором, подпись субъекта персональных данных или его представителя. К запросу, направляемому представителем, должны быть приложены доверенность или иной документ, подтверждающий полномочия представителя. Запрос может быть направлен в форме электронного документа и подписан электронной подписью в соответствии с законодательством РФ.</p>
<p><strong>9. Пересмотр положений настоящей Политики</strong></p>
<p>9.1 Бюро вправе вносить изменения в настоящую Политику без согласия субъекта персональных данных.</p>
<p>9.2 При внесении изменений в настоящую Политику указывается дата последнего обновления. Новая редакция вступает в силу с момента ее опубликования на Сайте.&nbsp;</p>
<p>&nbsp;</p>
	<br>

  <div class="RowInputContainer">
      <a href="/oferta">Публичная оферта</a>
      <a href="/personal-data">Политика в отношении обработки персональных данных</a>
      <a href="/contacts">Контакты</a>
  </div>

</div>
</body></html>
