<!DOCTYPE html>
<head>
<title>Docreport.ru - публичная оферта по оказанию юридических услуг.</title>
<meta name="keywords" content="проверить человека, проверить контрагента, проверить задолженность, фссп проверка, судебные задолженность, приставы задолженность проверить, проверка по фссп"/>
<meta name="description" content="Docreport — сервис проверки человека по открытым источникам данных с получением отчета. Публичная оферта по оказанию юридических услуг."/>
<meta name="owner" content="info@docreport.ru"/>
<meta name="author" lang="ru" content="АБ 'Магаданское бюро адвокатов'"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="resource-type" content="Document"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="ru"/>
	<link rel="stylesheet"  href="{{ url_for('static', filename='/css/stylesheet.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>

<body>
 <div class="RowInputContainer_left">
      <a class="blueTheme" href="/">На главную</a>
 </div>
<div class="requestContainer">

<p style="text-align: center;"><strong>ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ ПО ОКАЗАНИЮ ЮРИДИЧЕСКИХ УСЛУГ</strong></p>
<p style="text-align: center;"><strong>АБ &laquo;МАГАДАНСКОЕ БЮРО АДВОКАТОВ&raquo;</strong></p>
<p><strong>1. ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>
<p>1.1.&nbsp;Настоящий Договор является публичной Офертой АБ &laquo;Магаданское бюро адвокатов&raquo; (в дальнейшем именуемого Исполнитель) в соответствии со статьей 437 ГК РФ и содержит все существенные условия предоставления услуг.</p>
<p>1.2.&nbsp;В соответствии с пунктом 3 статьи 438 ГК РФ в случае принятия изложенных ниже условий и оплаты услуг физическое лицо, производящее акцепт этой Оферты, становится Заказчиком (далее &ndash; Заказчик).</p>
<p>1.3.&nbsp;Настоящий Договор размещен в свободном доступе на Интернет-сайте<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a></p>
<p>1.4.&nbsp;Положения, содержащиеся в настоящей Оферте, могут быть изменены в одностороннем порядке Исполнителем. Информация об изменениях настоящих Условий размещается на сайте&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>&nbsp;за 3 (три) календарных дня до введения изменений.</p>
<p>1.5.&nbsp;Настоящий документ определяет существенные условия публичного договора по оказанию услуг Исполнителем.</p>
<p>1.6.&nbsp;Незнание настоящих Условий не является основанием для предъявления со стороны Заказчика каких-либо претензий к Исполнителю.</p>
<p>1.7.&nbsp;Заказчик подтверждает свое согласие с условиями, установленными настоящим Договором, путем проставления отметки в графе &laquo;Я согласен с условиями&nbsp;Публичной оферты&raquo; при оформлении заказа.</p>
<p>1.8.&nbsp;В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:</p>
<p>- &laquo;Оферта&raquo; &ndash; публичное предложение Исполнителя, адресованное любому физическому лицу, заключить с ним договор оказания услуг (далее &ndash; &laquo;Договор&raquo;) на существующих условиях, содержащихся в Договоре.</p>
<p>- &laquo;Заказчик&raquo; &ndash; физическое лицо, заключившее с Исполнителем Договор на условиях, содержащихся в Договоре.</p>
<p>- &laquo;Акцепт&raquo; &ndash; полное и безоговорочное принятие Исполнителем условий Договора.</p>
<p>- &laquo;Услуги&raquo; &ndash;юридические услуги по автоматизированному запросу и получению информации из открытых источников (баз и банков данных) сети Интернет, представленные на официальном Интернет-сайте Исполнителя.</p>
<p>- &laquo;Заказ&raquo; &ndash; запрос на получение информации по конкретной оформленной заявке на интернет-сайте Исполнителя.</p>
<p>- &laquo;Оплата по ссылке&raquo; - оплата с использованием реквизитов платежной карты либо по QR-коду Заказа, номер и данные которого указываются на странице оплаты. Ссылка на страницу оплаты предоставляется Заказчику Исполнителем на интернет-сайте Исполнителя <a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>&nbsp;либо через иные каналы связи.</p>
<p>&nbsp;2.&nbsp;<strong>ПРЕДМЕТ ДОГОВОРА</strong></p>
<p>2.1.&nbsp;&nbsp;&nbsp;Предметом настоящей Оферты является оказание юридических услуг по автоматизированному запросу и получению информации из открытых источников (баз и банков данных) сети Интернет (далее &ndash; услуги) Заказчику в соответствии с п.3 ст.6&nbsp;ФЗ от 31 мая 2002 г. N 63-ФЗ &laquo;Об адвокатской деятельности и адвокатуре в Российской Федерации&raquo;.</p>
<p>2.2.&nbsp;&nbsp;&nbsp;При наличии доступа к интернету Заказчик направляет через Веб-интерфейс на Сайте, расположенном в сети Интернет по адресу&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>, запрос на предоставление сведений о соответствующем физическом лице, указав его фамилию, имя, отчество, дату рождения, регион, дату выдачи паспорта, серию и номер паспорта.</p>
<p>2.3.&nbsp;&nbsp;&nbsp;Информация о физическом&nbsp;лице, которая предоставляется Заказчику в случае обнаружения, может включать в себя следующие сведения:</p>
<ul>
<li>ИНН физического лица.&nbsp;</li>
<li>Cведения о недействительности паспорта.</li>
<li>Должность.</li>
<li>Сведения о наличии исполнительных производств.</li>
<li>Сведения о банкротстве.</li>
<li>Сведения об участии в судебных делах.</li>
<li>Сведения о регистрации в качестве ИП (индивидуального предпринимателя).</li>
<li>Сведения о регистрации в качестве учредителя или руководителя юридического лица.</li>
<li>Сведения о нахождении в розыске.</li>
<li>Сведения о нахождении в реестрах лиц, в отношении которых имеются сведения о причастности к экстремистской деятельности или терроризму.</li>
<li>Сведения о внесении данных о физическом лице в реестр уведомлений о залоге движимого имущества.</li>
</ul>
<p>2.4. Состав и объем предоставляемой информации о физическом лице может изменяться и дополняться по усмотрению Исполнителя.</p>
<p>2.5. Максимальное время формирования полного отчета составляет 15 минут. При невозможности получить от поставщиков все или часть запрошенных данных, сбор информации будет продолжаться в течение следующих 24 часов. При появлении информации, Заказчику будет отправлено уведомление на e-mail, при этом риск неполучения уведомления лежит на Заказчике.&nbsp;</p>
<p>2.6. Исполнитель представляет сформированный отчет при условии осуществления Заказчиком оплаты.</p>
<p>2.7.&nbsp;Стоимость услуг указывается на интернет-сайте исполнителя <a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>&nbsp;. Заказчик производит оплату услуги в соответствии с условиями настоящей оферты.</p>
<p>&nbsp;</p>
<p><strong>3. ОФОРМЛЕНИЕ ЗАКАЗА</strong></p>
<p>3.1.&nbsp;Заказ на оказание услуг осуществляется Заказчиком через интернет-сайт&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>.</p>
<p>3.2.&nbsp;При заказе услуг Исполнителем Заказчик обязуется предоставить следующую информацию о себе путем заполнения формы на интернет-сайте Исполнителя:</p>
<p>-фамилия, имя, отчество (по-русски);</p>
<p>-дата рождения;</p>
<p>- паспортные данные;</p>
<p>-регион проживания;</p>
<p>-адрес электронной почты (для направления Отчета).</p>
<p>3.3.&nbsp;Подтверждением факта размещения и исполнения Заказа на указанный Заказчиком адрес электронной почты направляется автоматически сформированный Отчет, содержащий запрашиваемую информацию (формат &ndash;&nbsp;pdf).</p>
<p>3.4.&nbsp;Принятие Заказчиком условий настоящего Договора осуществляется посредством внесения Заказчиком соответствующих данных в форму при оформлении Заказа&nbsp;самостоятельно. Исполнитель не изменяет и не редактирует информацию о Заказчике.</p>
<p>Исполнитель обязуется не сообщать данные Заказчика, указанные на сайте&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>&nbsp;или при оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа.</p>
<p>После оформления и оплаты Заказа, Заказчик получает автоматически&nbsp;сформированный Отчет, содержащий запрашиваемую информацию (формат &ndash;&nbsp;pdf)&nbsp;с уникальным идентификационным номером.</p>
<p>3.5.&nbsp;При Оплате по ссылке по результату оформления Заказа Заказчику предоставляется платежная ссылка с ограниченным сроком действия на Интернет-странице платежного агента.</p>
<p>3.6.&nbsp;Исполнитель не несет ответственность за содержание и достоверность информации, предоставленной Заказчиком при оформлении Заказа.</p>
<p>3.7.&nbsp;Заказчик несёт ответственность за полноту и достоверность предоставленной информации при оформлении Заказа.</p>
<p>3.8.&nbsp;Оплата Заказчиком самостоятельно оформленного на интернет-сайте означает согласие Заказчика с условиями настоящего Договора.</p>
<p>3.9.&nbsp; Все информационные материалы, представленные на сайте&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>, носят справочный&nbsp;характер.</p>
<p>Всю информацию об услугах можно уточнить по электронной почте&nbsp;ab-mba@yandex.ru.</p>
<p>&nbsp;</p>
<p><strong>4. СРОКИ ИСПОЛНЕНИЯ ЗАКАЗА</strong></p>
<p>4.1. Срок исполнения Заказа зависит от времени необходимого на автоматизированную обработку Заказа.</p>
<p>4.2. В случае невозможности оказания Услуги Исполнителем, в том числе по причинам, не зависящим от последнего, Исполнитель вправе аннулировать заказ с последующим возвратом денежных средств на карту, с которой производилась оплата, или на счет, привязанный к номеру телефона, по которому производилась оплата.</p>
<p>4.3. Заказ считается выполненным в момент направления на электронную почту Заказчика автоматически сформированного Отчета содержащего запрашиваемую информацию (формат &ndash;&nbsp;pdf)</p>
<p>4.4. В случае предоставления Заказчиком недостоверной информации, в том числе неверных контактных данных, Исполнитель за ненадлежащее исполнение Заказа ответственности не несет.</p>
<p>&nbsp;</p>
<p><strong>5. ОПЛАТА УСЛУГ</strong></p>
<p>5.1.&nbsp;Оплата по настоящему договору производится в российских рублях.</p>
<p>5.2.&nbsp;Стоимость Заказа на сайте может быть изменена Исполнителем в одностороннем порядке до момента оплаты.&nbsp; При этом стоимость на оплаченные Заказы изменению не подлежит.</p>
<p>5.3.&nbsp;Оплата Услуг Заказчиком производится в российских рублях банковским переводом путем перечисления денежных средств платежному агенту.</p>
<p>5.4.&nbsp;При оплате заказа по ссылке Заказчику необходимо сверить номер Заказа, описание Заказа на странице оплаты, и производить оплату только при соответствии указанных данных предоставленным Исполнителем данным на Интернет-Сайте Исполнителя.</p>
<p>5.5.&nbsp;Оплата с использованием реквизитов банковских карт на Интернет-сайте&nbsp;<a href="http://DOCREPORT.RU"><strong>&nbsp;http://DOCREPORT.RU</strong></a>&nbsp;осуществляется в системе электронных платежей платежного агента, который&nbsp;прошел сертификацию в платежных системах Visa Inc., MasterCard Worldwide и МИР на совершение операций с аутентификацией 3-D Secure и&nbsp;Mir&nbsp;Accept. Представленные данные полностью защищены в рамках стандарта безопасности данных индустрии платежных карт (Payment Card Industry Data Security Standard) и никто, включая Исполнителя, не может их получить.</p>
<p>5.6.&nbsp;Услуга считается оплаченной с момента успешного завершения операции по карте. Факт оплаты услуги подтверждается получением электронного чека на электронный адрес, указанный Заказчиком.</p>
<p>5.7.&nbsp;В случае неполучения Заказчиком письма на электронный адрес с заказанным и оплаченным Отчетом, Заказчик должен связаться с Исполнителем для получения подтверждения об оплате услуги в течение 1 (одних) суток с момента оплаты.</p>
<p>&nbsp;</p>
<p>&nbsp;6.&nbsp;<strong>ПРАВА И ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ</strong></p>
<p>6.1.&nbsp;Исполнитель обязуется оказать услуги в соответствии с п. 2.1 настоящего Договора.</p>
<p>6.2.&nbsp;Согласовать все материалы необходимые для оказания Услуг, а также стоимость, порядок оплаты и сроки оказания Услуг.</p>
<p>6.3.&nbsp;Используя Средства для связи информировать Заказчика об Услугах и условиях их получения.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>7. ПРАВА И ОБЯЗАННОСТИ ЗАКАЗЧИКА</strong></p>
<p>7.1.&nbsp;Заказчик обязуется своевременно оплачивать выбранные Услуги Исполнителя в соответствии с установленными на момент оплаты ценами.</p>
<p>7.2.&nbsp;Заказчик обязуется самостоятельно и своевременно ознакомиться на сайте Исполнителя с установленными ценами, видами Услуг, порядком и сроками их предоставления.</p>
<p>7.3.&nbsp;Заказчик обязуется отправить необходимую информацию для предоставления Услуг Заказчиком с помощью Средств связи.</p>
<p>&nbsp;</p>
<p><strong>8. УСЛОВИЯ РАСТОРЖЕНИЯ ДОГОВОРА</strong></p>
<p>8.1.&nbsp;В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-I &laquo;О Защите прав потребителей&raquo; Заказчик вправе отказаться от заказанной Услуги в любое время до момента исполнения Заказа.</p>
<p>8.2.&nbsp;Настоящий договор может быть расторгнут по инициативе Заказчика до начала оказания услуг путем направления заявки на отмену по электронной почте&nbsp;<strong>ab-mba@yandex.ru</strong>&nbsp;или путем подачи письменного заявления Исполнителю.</p>
<p>В случае отказа от оплаченных по карте в срок за 1 (один) день до начала оказания услуг, возврат денежных средств производится в полном объеме.</p>
<p>В случае если услуга не была отменена в надлежащие сроки, возврат денежных средств производится за вычетом понесенных Исполнителем расходов из-за позднего отказа от услуг Заказчиком.</p>
<p>8.3.&nbsp;При задержке Исполнителем сроков исполнения Заказа более чем на 48 часов, Заказчик вправе расторгнуть договор и потребовать возврата денежных средств в полном объеме.</p>
<p>8.4.&nbsp;Возврат стоимости Заказа производится не позднее чем через 10 (десять) дней с даты предоставления Заказчиком соответствующего заявления.</p>
<p>8.5.&nbsp;Срок рассмотрения Заявления и возврата денежных средств Заказчику начинает исчисляться с момента получения Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней. Если заявление поступило после 18.00 рабочего дня или в праздничный/выходной день, моментом получения Заявления считается следующий рабочий день.</p>
<p>8.6.&nbsp;Денежные средства в случае корректно оформленной процедуры отказа / отмены возвращаются на карту, с которой проводилась оплата.</p>
<p>8.7.&nbsp;Исполнитель имеет право изменить дату и время оказания услуги, уведомив об этом Заказчика услуг не менее чем за 1 день до начала оказания услуг, получив подтверждение о согласии Заказчика с изменениями.</p>
<p>&nbsp;</p>
<p><strong>&nbsp;9.&nbsp;</strong><strong>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></p>
<p>9.1.&nbsp;Все вопросы, неурегулированные Договором, разрешаются в соответствии с действующим законодательством Российской Федерации.</p>
<p>9.2.&nbsp;Все претензии по ненадлежащему оказанию услуг Заказчик вправе направить на адрес электронной почты:&nbsp;ab-mba@yandex.ru. Вся поступившая информация обрабатывается в кратчайшие сроки.</p>
<p>9.3.&nbsp;При сборе и обработке персональных данных Заказчика Исполнитель руководствуется положениями Федерального Закона № 152-ФЗ &laquo;О персональных данных&raquo; от 27 июля 2006 года.</p>
<p>9.4.&nbsp;Передающая персональные данные сторона дает согласие на обработку персональных данных любыми способами, включая сбор, систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, уничтожение. Согласие субъекта персональных данных действует до момента получения Исполнителем письменного извещения об отзыве данного согласия. Заказчик должен иметь письменное подтверждение получения отказа Исполнителем.</p>
<p>По вопросам оплаты, качества, своевременности получения услуг, другим вопросам в отношении операции по&nbsp;карте или по&nbsp;QR-коду Клиент может обратиться по электронной почте:&nbsp;ab-mba@yandex.ru.&nbsp;<strong>&nbsp;</strong>&nbsp;</p>
<p>9.5.&nbsp;Любая из Сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по настоящему Договору, если это неисполнение было вызвано обстоятельствами непреодолимой силы. Обстоятельства непреодолимой силы означают чрезвычайные события и обстоятельства, которые Стороны не могли ни предвидеть, ни предотвратить разумными средствами. Такие чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, наводнения, пожары, землетрясения и иные стихийные бедствия, военные действия и т.д</p>
<p>&nbsp;</p>
<p><strong>10. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</strong></p>
<p>Наименование: АБ &laquo;Магаданское бюро адвокатов&raquo;</p>
<p>Адрес: 685000 г. Магадан ул. Билибина д.6</p>
<p>ИНН/КПП: 4909997703/490901001</p>
<p>e-mail: ab-mba@yandex.ru</p>
<p>&nbsp;</p>
	<br>

  <div class="RowInputContainer">
      <a href="/oferta">Публичная оферта</a>
      <a href="/personal-data">Политика в отношении обработки персональных данных</a>
      <a href="/contacts">Контакты</a>
  </div>

</div>
</body></html>
